*{
  margin: 0px;
  padding: 0px;
/*  font-family: 'Roboto Mono', monospace;*/
  text-decoration: none;
  list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}


@font-face {
font-family: 'Red October Fat';
src: url('../fonts/RedOctober/RedOctober-Fat.eot');
src: url('../fonts/RedOctober/RedOctober-Fat.eot?#iefix') format('embedded-opentype'),
url('../fonts/RedOctober/RedOctober-Fat.woff') format('woff'),
url('../fonts/RedOctober/RedOctober-Fat.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'B52 Regular';
src: url('../fonts/B52/B52.eot');
src: url('../fonts/B52/B52.eot?#iefix') format('embedded-opentype'),
url('../fonts/B52/B52.woff') format('woff'),
url('../fonts/B52/B52.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Wood Type Collection Benito Book';
src: url('../fonts/WoodType/Benito-Book.eot');
src: url('../fonts/WoodType/Benito-Book.eot?#iefix') format('embedded-opentype'),
url('../fonts/WoodType/Benito-Book.woff') format('woff'),
url('../fonts/WoodType/Benito-Book.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body{
	background-image: url(../img/bg_2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.heading{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	align-items: center;
}

.heading .text{
	position: relative;
	width: 400px;
}

.all-games{
	max-width: 100%;
	background-image: url(../img/bg_2.1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	position: relative;
	margin: auto;
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
}

.all-games .all-games__wrapper{
	display: flex;
	justify-content: center;
	align-items: center;

}

.all-games__list .all-games__game{
	padding: 15px;
	margin: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background: rgba(255,255,255,1);
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);

}

.all-games__icon{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
}

.all-games__text{
	padding: 10px;
	font-family: 'B52 Regular';
}

.all-games__text a{
	color: rgba(190,0,0,1);
	font-size: 30px;
}

.all-games__b{
	padding: 5px;
}

.all-games__button{
	padding: 10px;
	border-radius: 30px;
	background: RGB(60, 179, 113);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}


.all-games__button{
	color: rgb(255,255,255);
	font-family: 'Red October Fat';	
}

.all-games__button:hover {
	box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
}


audio{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
}

.audio-player{
	display: flex;
	margin: 0px auto 0px;
	bottom: 10px;
	left: 10px;
}

#topBtn{
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 32px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.6);
	color: rgba(255, 255, 255, 1);
	border: transparent;
	cursor: pointer;
}

.play-games{
	display: flex;
	position: fixed;
	bottom: 100px;
	right: -100px;
	width: 190px;
	height: 70px;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 100px 0px 0px 100px;
	background: rgba(46,139,87,1);
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
	transition: 1s;
}

.play-games .play-games__icon i{
	color: rgba(255,255,255,1);
	font-size: 50px;
	
}

.play-games .play-games__text a{
	text-transform: uppercase;
	font-family: 'Red October Fat';
	font-size: 20px;
	color: rgba(255,255,255,1);
}

.play-games .play-games__text{
	padding-left: 10px;
}

.play-games:hover{
	transform: translateX(-100px);
}


.photo-video{
	display: flex;
	position: fixed;
	bottom: 175px;
	right: -100px;
	width: 190px;
	height: 70px;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 100px 0px 0px 100px;
	background: rgba(220,0,0,1);
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
	transition: 1s;
}

.photo-video .photo-video__icon i{
	color: rgba(255,255,255,1);
	font-size: 50px;
	
}

.photo-video .photo-video__text a{
	text-transform: uppercase;
	font-family: 'Red October Fat';
	font-size: 20px;
	color: rgba(255,255,255,1);
}

.photo-video .photo-video__text{
	padding-left: 10px;
}

.photo-video:hover{
	transform: translateX(-100px);
}

@media (max-width: 600px) and (max-width: 1920px){
	
	.all-games__list .all-games__game{
		flex-direction: column;
	}
	
	.heading .text{
		position: relative;
		width: 350px;
	}

}

@keyframes arrowDown{
	0%{
		bottom: 100px;
		opacity: 0;
	
	100%{
		bottom: 0px;
		opacity: 1;
}
