*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  list-style: none;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body{
	background-image: url(../img/bg_7.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.heading{
	background-image: url(../img/main.svg);
	height: 100vh;
	min-width: 670px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.heading{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	align-items: center;
}


.heading .text{
	position: relative;
	width: 100%;
}

.heading .text2{
	position: relative;
	width: 100%;
	
}



.heading .icon1{
	bottom: 0px;
	display: flex;
	position: relative;
	border-radius: 50%;
	color: rgba(0,77,51,1);
	font-size: 60px;
	animation: arrowDown 2s infinite;
	opacity: 1;
}

.heading .icon2{
	display: flex;
	position: relative;
	border-radius: 50%;
	color: rgba(0,0,0,0.7);
	font-size: 60px;
	animation: arrowDown 1s infinite;
}


audio{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
}

.audio-player{
	display: flex;
	margin: 0px auto 0px;
	bottom: 10px;
	left: 10px;
}

.wrapper{
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-gap: 1.2em;
	justify-items: start;
	align-items: start;
	padding: 10px;
}

aside .imgBox img{
	width: 100%;
	border-radius: 0px;
	margin: 10px 0px 0px 0px;
}

.imgBox .imgBox-photo{
	width: 100%;
	border: 0px solid green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto 0px 0px 0px;
}

.logo_r{
	width: 100%;
}

.logo_a{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.aside-qrcode__qrcode{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.header-logo{
	grid-area: header-logo;	
}

.header-nav{
	grid-area: header-nav;
}

.header-subscribe{
	grid-area: header-subscribe;
	
}
.header-video{
	grid-area: header-video;
	
}

.header{
	padding-right: 10px;
	max-width: 1000px;
	display: grid;
	grid-template-areas: "header-logo header-logo"
												"header-nav header-subscribe"
												"header-video header-video";
	
	grid-gap: 1rem;
	justify-items: center;
	align-items: center;
	justify-self: center;
}

.header-nav__link{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
	color: rgba(255,255,255,1);
	background-color: red;
	border-radius: 10px;
}

.header-nav__link > i{
	padding: 10px;
	font-size: 25px;
}

.header-nav__link > h1{
	padding-right: 10px;

}

.header-subscribe__link{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
	color: rgba(255,255,255,1);
	background-color: red;
	border-radius: 10px;
}

.header-subscribe__link > i{
	padding: 10px;
	font-size: 25px;
}

.header-subscribe__link > h1{
	padding-left: 10px;
	font-size: 25px;
	text-transform: uppercase;
}

.header-video{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


.header-video__video{
	padding: 5px 0px 0px 10px;
	transition: 0.5s linear;
}

.header-video__video:hover{
	transform: scale(1.03);
}


#topBtn{
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 32px;
	width: 50px;
	height: 50px;
	
	border-radius: 30%;
	background: rgba(0, 0, 0, 0.6);
	color: rgba(255, 255, 255, 1);
	border: transparent;
	cursor: pointer;

}

@media (max-width: 800px) and (max-width: 1920px){
	
	.header-video__video{
		padding: 0px;
		margin: 0px;
	}

}

@keyframes arrowDown{
	0%{
		bottom: 100px;
		opacity: 0;
	
	100%{
		bottom: 0px;
		opacity: 1;
}
