@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=RocknRoll+One&display=swap');


body {
/*	font-family: 'RocknRoll One', sans-serif;*/
	font-family: 'Pacifico', cursive;
	font-size: 18px;
}

.postcard {
	margin: auto;
  width: 800px;
	height: 500px;
}

.postcard-image {
	float: left;
  width: 400px;
  margin: 20px 20px 10px 20px;
}

.postcard-text {
	text-align: justify;
	border: 1px solid blue;
  padding: 50px 10px 50px 20px;
	background-color: #cccccc;
}

